* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'BagianHome';  src: url('font/Caster_PERSONAL_USE_ONLY.ttf');
}

@font-face {
    font-family: 'BagianStats';  src: url('font/LowresPixel-Regular.otf');
}

@font-face {
    font-family: 'Bagian2'; src: url('font/PixelPurl.ttf');
}

/*nav header dan logo*/
nav {
    display: flex;            
    justify-content: space-between;
    align-items: center;
    padding: 15px;       
}

nav a {
    font-weight: bold;
    color: #f2f2f2;
    padding: 14px 30px;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    display: flex;
    gap: 30px;
    align-items: center;
}
/*logo*/
.boxlogo {
    display: flex;
    gap: 10px;
}

.boxlogo img{
    height: 50px;
    width: auto;
}

.menusamping {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2910674b;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(5px);
    gap: 10px;
}

.menusamping li{
    width: 100%;
    margin-top: 10px;
}
.menusamping a{
    width: 100%;
}

/*nav pseudo class animasi*/
nav:has(a:hover) a:not(:hover){
    filter: blur(2px);
    color: #f2f2f2;
}

nav a:hover{
    transform: scale(1.1);
    transition: 200ms;
    letter-spacing: 1px;
}

li img:hover{
    transform: scale(1.2) rotate(4deg);
    transition: 10ms ease-in-out;
}

/*Background body*/
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/download\ \(6\).gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    min-height: 100vh;
    background-attachment: fixed;
}

/*bagian fronthome box 1 */

.FrontHomeBox {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    min-height: 350px;
    padding: 20px;
    background: rgba(15, 18, 52, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 18, 52, 0.3);
}

/*bagian Font heading dlem frontboxhome */
.FrontHome h2 {
    font-size: medium;
    color: #ffffff;
    letter-spacing: 6px;
}
.FrontHome h1 {
    color: #ffffff;
    font-family: 'Bagianhome', cursive;
    font-size: 50px;
}
.FrontHome {
    color: #ffffff;
    padding: 50px;
}

.FrontHome p{
    text-align: left;
    font-size: 16px;
    padding: 9px 20px;
    margin-bottom: 30px;
}

.buton {
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.buton:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
 
buton:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/*Bagian headline*/
.headline{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 20px 20px;
}

.isi {
    padding: 40px;
    text-align: left;
    color: #ffffff;

}

/* Card Box */
.CardBox {
    margin-bottom: 100px;
}
.CardBox h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding:6px 100px;
}
/*card lisnya */

.CardList {
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/*background card dengan font*/

.card {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 30px 5px;
    color: #ffffff;
    background: rgba(163, 115, 221, 0.311);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(221, 115, 165, 0.28);
    transition: 1000ms;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.cardlevelbuton {
    text-decoration: none;
    background-color: #441689;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 100ms;
}

/*pseudo class card Animasi*/
.CardList:has(.card:hover) .card:not(:hover) {
    filter: blur(5px);
    transform: scale(.9, .9);
}

.card:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.cardlevelbuton:hover {
    background-color: #ffffff;
    color: #441689;
    letter-spacing: 1px;
    transform: scale(1.1);
}

/*box gambar tengah isian gambar dan video*/

.boxtengah {
    padding: 20px 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-radius: 50px 5px;
    color: #ffffff;
    margin-bottom: 100px;
   background-color: #060412cb;
}

.listtengah {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.isian {
    color: #ffffff;
    text-align: center;
}

.isian img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/*cta*/
.cta {
    padding: 20px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
}

.ctalist {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.ctabutton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid #fffffffb;
    transition: ease-in-out 0.3s;
    background-color: rgba(21, 21, 77, 0.714);
    color: #ffffff;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 50px;
}

/*Nyoba*/

.ctabutton:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #441689;
    color: white;
}

/*box gambar deskripsi*/
.boxgambardesc {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 20px;
    background: rgba(15, 18, 52, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 18, 52, 0.475);
}
.desckanan {
    color: #ffffff;
}

.kirigambar h2{
    text-align: center;
    color: #ffffff;
}

.kirigambar img{
    padding: 20px;
    width: 90%;
    height: auto;
}

.kirigambar, .desckanan {
    flex: 1;
}


/*about us description*/
.Descripsion {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Login form*/
.boxformlogin {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px 35px;
}

.loginform  {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    gap: 25px;
    width: 360px;
    padding: 25px 30px;
    margin-bottom: 50px;
    background: rgba(156, 164, 205, 0.104);
    border-radius: 13px;
    box-shadow: 11px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(19.2px);
    -webkit-backdrop-filter: blur(19.2px);
    border: 1px solid rgba(255, 255, 255, 0.98);
}
.loginform a{
    color: #ffffff;
    font-size: 16px;
    gap: 30px;
    text-decoration: none;
}

.submit {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #441689;
    color: #ffffff;
    border: 0;
    transition: 100ms;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.5);
}

.email {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    border-radius: 20px;
    background: #ffffff;
    border: 0;
    transition: 100ms;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}
.password {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    background: #ffffff;
    transition: 100ms;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}

.username {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    background: #ffffff;
    transition: 100ms;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}

.headingloginatas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.headingloginatas h1{
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 9px;
}

/*pseudo animasi*/
.password:hover{
    transform: scale(1.1);
}

.email:hover{
    transform: scale(1.1);
}
.username:hover{
    transform: scale(1.1);
}
.submit:hover {
    transform: scale(1.1) rotate(0.3deg);
    background-color: #f2f2f2;
    letter-spacing: 1.3;
    color: black;
    border: #354ea8;
    border: 1;
}

/*box form pinjam buku transaksi*/
.Boxtransaksi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 100vh;
    margin-bottom: 50px;
    
}

.kiritransaksi {
    color: #ffffff;
    min-height: 487px;
    gap: 25px;
    width: 500px;
    padding: 25px 30px;
    border-radius: 15px 60px ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('images/download\ \(7\).gif');
    box-shadow: 11px 15px rgba(0, 0, 0, 0.47);
}
/*form transaksi pinjam buku*/
.kanantransaksi {
    color: #ffffff;
    min-height: 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 500px;
    padding: 25px 30px;
   background: rgba(31, 8, 53, 0.392);
    border-radius: 15px 60px ;
    box-shadow: 11px 15px rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(10.2px);
}

.inputtrans {
    border-radius: 20px;
    width: 100%;
    padding: 10px 25px;
    border: none;
    transition: 100ms;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.inputnama {
    max-width: 300px;
    width: 100%;
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.dateinput {
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}
.inputan {
    display: flex;
    justify-content: center;
}

.anggotainputan {
    flex-direction: column;
    width: 30px;
}

.inputan, .anggotainputan {
    gap: 6px;
    flex: 1;
}

.butoninput {
    width: 80px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    color: #ffffff;
    background-color: #441689;
    border: none;
    font-weight: bold;
    transition: 180ms;
}

.butonreset {
    width: 80px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    color: #441689;
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    transition: 180ms;
}

option {
    color: black;
}

/*Animasi buton pseudo class*/
.butoninput:hover {
    transform: scale(1.1);
    letter-spacing: 1.5px;
    color: black;
    width: 90px;
    background-color: white;
    box-shadow: 1px 1px 15px #441689;
}

.butonreset:hover {
    transform: scale(1.1);
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    width: 90px;
    background-color: #441689;
    box-shadow: 1px 1px 15px #441689;
}

/*buat animasi inputan form*/
.inputnama:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-color: #ffffff;
    color: black;
}

.inputtrans:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-color: #ffffff;
    color: black;
}



/* Card Box Katalog buku*/
.bookatas {
    margin-top: 70px;
    margin-bottom: 70px;
}
.bookatasbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.bookkananitem {
    display: flex;
    justify-content: center;
}

.bookkananitem img{
    border-radius: 20px;
    height: 300px;
}

.bookkiriitem {

}

.bookkiriitem, .bookkananitem {
    flex: 1;
}


.CardBoxKatalog {
    margin-bottom: 100px;
}

.CardBoxKatalog h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Bagian2';
}
/*card lisnya */

.CardListKatalog {
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/*background card dengan font*/

.book {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background: rgba(34, 5, 69, 0.612);
    box-shadow: 7px 10px rgb(0, 0, 0);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    transition: 1000ms;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.bookbuton {
    text-decoration: none;
    background-color: #441689;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 30px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 100ms;
}

/*pseudo class card Animasi*/

.bookbuton:hover {
    background-color: #ffffff;
    color: #441689;
    letter-spacing: 1px;
    transform: scale(1.1);
}


/*profile*/

.boxprofilecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 100vh;
    margin-bottom: 50px;
    
}

.profilecardkanan {
    min-height: 300px;
    font-weight: bolder;
    color: #ffffff;
    height: 100px;
}
.profilecardkanan h1{
    font-family: 'Bagian2';
}
.profilecardkiri{
   display: flex;
   justify-content: center;
}


.profilecardkiri img{
    border-radius: 20px;
    min-height: 200px;
    height: 300px;
}

.profilecardkiri, .profilecardkanan {
    flex: 1;
}

/*stats skill*/
.skillstats {
    margin-top: 20px;
    padding: 5px;
}

.boxlevel {
    max-width: 320px;
    border: #ffffff 1px solid;
    border-radius: 20px;
    background: rgba(156, 164, 205, 0.104);
    border-radius: 13px;
    box-shadow: 9px 9px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(19.2px);
    -webkit-backdrop-filter: blur(19.2px);
    border: 1px solid rgba(255, 255, 255, 0.98);
}

.level {
    font-family: 'BagianStats';
    border-radius: 20px;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 90%;
    background-color: #441689;
    transition: 1000ms;
}
.xp {
    font-family: 'BagianStats';
    border-radius: 20px;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 90%;
    background-color: #d55200;
    transition: 1000ms;
}
.hp {
     font-family: 'BagianStats';
    border-radius: 20px;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 60%;
    background-color: #ae0000;
    transition: 1000ms;
}

.mp {
     font-family: 'BagianStats';
    border-radius: 20px;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 80%;
    background-color: #033f78;
    transition: 1000ms;
}

.mp:hover {
    width: 100%;
}

.hp:hover {
    width: 100%;
}

.xp:hover {
    width: 100%;
}

.level:hover {
    width: 100%;
}




/*footer bawah*/

footer {
    padding: 30px 20px;
    width: 100%;
    height: auto;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    background: rgba(133, 140, 177, 0.32);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(163, 246, 237, 0.3);  
}

footer h2{
    font-family: 'Bagianhome';
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    /*sembunyikan menu*/
    .hilangmenu {
        display: none;
    }
    
    /*logo atas*/
    .boxlogo {
        padding: 0;
    }
    /*front home box*/
    .FrontHome {
        padding: 20px;
    }
    .FrontHomeBox {
        width: 100%;       
        padding: 15px;     
        margin-top: 50px; 
    }
    .FrontHome h1 {
        font-size: 40px;  
    }
   
    .headline {
    font-size: 17px;
   }

   /*home bagian desc pake gambar*/
    .leftgambar, .desckanan {
    min-width: 300px;
    }

    /*login form*/
    .headingloginatas h1{
        letter-spacing: 3px;
        font-size: 27px;
    }
    .loginform {
        width: 310px;
    }
    .loginatas h1{
        font-size: 23px;
        margin-bottom: 0;
    }
     /*form transaksi*/
    .boxtransaksi {
        width: 300px;
    }
    .anggotainputan {
        display: flex;
        flex-direction: column;
    }
    .kiritransaksi {
        display: none;
    }

    /*bagian profil*/
    .profilecardkiri{
        margin-top: 80px;
    }

    .profilecardkanan {
        padding: 20px;
        margin-top: 0px;
    }
}

