* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

/*nav*/
nav {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

nav a {
    font-weight: bold;
    color: #f2f2f2;
    padding: 14px 30px;
    text-decoration: none;
}

/*nav pseudo class animasi*/
nav:has(a:hover) a:not(:hover){
    filter: blur(2px);
    color: #f2f2f2;
}

nav a:hover{
    transform: scale(1.1);
}

/*Background body*/
body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/download\ \(5\).gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    min-height: 100vh;
    background-attachment: fixed;
}

/*bagian fronthome box 1 */

.FrontHomeBox {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    min-height: 350px;
    padding: 20px;
    background: rgba(15, 18, 52, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 18, 52, 0.3);
}

/*bagian Font heading dlem frontboxhome */
.FrontHome h2 {
    color: #c23196;
}

.FrontHome {
    color: #ffffff;
    padding: 50px;
    text-align: left;
}

.FrontHome p{
    text-align: left;
    font-size: smaller;
    padding: 9px 20px;
}

.buton {
    align-items: center;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#ec20af,#b83c93);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 24px;
    text-decoration: none;
}

.buton:hover {
    color: #0f0f0f;
    transform: scale(1.05);
}
 


/*Bagian headline*/
.headline{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 20px 20px;
}

.isi {
    padding: 40px;
    text-align: left;
    color: #ffffff;

}

/* Card Box */
.CardBox {
    margin-bottom: 100px;
}
.CardBox h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding:6px 100px;
}
/*card lisnya */

.CardList {
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/*background card dengan font*/

.card {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background: rgba(221, 115, 165, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(221, 115, 165, 0.28);
}

/*Image crrd*/

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/*pseudo class card Animasi*/
.CardList:has(.card:hover) .card:not(:hover) {
    filter: blur(5px);
    transform: scale(.9, .9);
}

.card:hover {
    transform: scale(1.1);
}

/*box gambar tengah isian gambar dan video*/

.boxtengah {
    padding: 20px 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-radius: 14px;
    color: #ffffff;
    margin-bottom: 100px;
   background-color: #060412cb;
}

.listtengah {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.isian {
    color: #ffffff;
    text-align: center;

}

.isian img {
    width: 100%;
    max-width: 300px;
}


/*box gambar deskripsi*/
.boxgambardesc {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 20px;
    background: rgba(15, 18, 52, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 18, 52, 0.475);
}
.desckanan {
    color: #ffffff;
}

.leftgambar h2{
    text-align: center;
    color: #ffffff;
}

.kirigambar img {
    padding: 20px;
    width: 90%;
    height: auto;
}

.kirigambar, .desckanan {
    flex: 1;
}

/*about us description*/
.Descripsion {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*buat footer bawah*/

footer {
    padding: 30px 20px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    background: rgba(163, 246, 237, 0.32);
    border-radius: 11px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(163, 246, 237, 0.3);  
}

@media screen and (max-width: 600px) {
    nav {
        gap: 0%;
        font-size: 20px;
        padding: 0.3rem 0.5rem;
    }
    .FrontHome {
        padding: 20px;
    }
    .FrontHomeBox {
        width: 100%;       
        padding: 15px;     
        margin-top: 50px; 
    }
    .FrontHome h1 {
        font-size: 30px;  
    }
    .leftgambar, .desckanan {
    min-width: 300px;
    }
}

